.body{
    background-color: #A4C4A0;
}

.first{
    background-color: #A4C4A0;
    border: 2px solid black;
    height: 750px;
}

.no{
    display: flex;
    align-items: flex-end;
    height: 275px;
}

.no{
    display: flex;
    align-items: flex-end;
    height: 200px;
}

.pic{
    display: flex;
    width: 60%;
    justify-content: center;
}

.center {
    display: flex;
    align-items: flex-end;
    height: 175px;
}

.small{
    height: 450px;
    width: 500px;
    display: flex;
    position: relative;
    left: 1450px;
    up: 120px;
}

.second{
    background-color: #64B05B;
    border: 2px solid black;
    display: flex;
    align-items: flex-start;
    height: 400px;
}

.centered {
     display: flex;
    align-items: flex-end;
    height: 200px;
}

.third{
    background-color: #429638;
    border: 2px solid black;
    display: flex;
    align-items: flex-start;
    height: 400px;
}

.fourth{
    background-color: #44783E;
    border: 2px solid black;
    display: flex;
    align-items: flex-start;
    height: 400px;
    text-align: center;
}

.pain{
    display: flex;
    align-items: flex-end;
    height: 200px;
    text-indent: 50px;
    width: 1550px;
}

.aframe{
    font-size: 50px;
    text-align: center;
}
